#gameContainer {
  width: 1600px;
  height: 800px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#gameContainer img {
  position: absolute;
  left: 200px;
  top: 200px;
  transform: translate(-50%, -50%) rotate(0rad);
}
