#gameContainer {
  width: 1600px;
  height: 800px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;  
  background-color: #121212;
}

#gameContainer img {
  position: absolute;
  left: 200px;
  top: 200px;
  transform: translate(-50%, -50%) rotate(0rad);
}

img.blue {
  filter: sepia(1) saturate(2) hue-rotate(180deg);
}

img.red {
  filter: sepia(1) saturate(10) hue-rotate(-10deg);
}

#scores {
  display: flex;
  font-family: 'Courier New';
  font-weight: normal;
  font-size: 100px;
  text-align: center;
}

.score {
  width: 50%;
}

.blue.score {
  color: blue
}

.red.score {
  color: red
}


